@using Microsoft.AspNetCore.Identity
@using HexiTech.Data.Models
@using HexiTech.Services.Cart
@inject ICartService cart;
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meeting all your tech needs.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hexi-Tech</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="All">All Products</a>
                        </li>
                        @if (User.IsAdmin())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Add">Add a product</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            <a class="btn btn-secondary btn-sm ml-1 mr-1" asp-area="" asp-controller="Orders" asp-action="OrdersList">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> My orders
                            </a>

                            <p class="nav-item mt-n3 mb-n3 ml-2 badge-pill badge-success">
                                <a class="nav-link text-light" asp-area="" asp-controller="Cart" asp-action="Cart">
                                    <i class="fa fa-shopping-cart"></i> My cart
                                    <span class="badge badge-light">@cart.Count(User.Id())</span>
                                </a>
                            </p>
                        }
                        else
                        {
                            <p class="nav-item mt-n3 mb-n3 ml-2 badge-pill badge-success">
                                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">
                                    <i class="fa fa-shopping-cart"></i> My cart
                                </a>
                            </p>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        @{
            if (TempData.ContainsKey(WebConstants.GlobalMessageKey))
            {
                <div class="alert alert-success text-center" role="alert">
                    @TempData[WebConstants.GlobalMessageKey]
                </div>
            }
            else if (TempData.ContainsKey(WebConstants.FailureMessageKey))
            {
                <div class="alert alert-danger text-center" role="alert">
                    @TempData[WebConstants.FailureMessageKey]
                </div>
            }
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Hexi-Tech - All rights reserved.
            - <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            - <a asp-controller="About" asp-action="About">About</a>
            - <a asp-controller="About" asp-action="ContactUs">Contact us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>