@model HexiTech.Models.Products.AllProductsQueryModel

@{
    ViewData["Title"] = "All Products";
}

@* TODO: Add apply filters button. *@

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet " href="~/css/AllProducts.css" />
<link rel="stylesheet " href="~/css/ProductDeletion.css" />

<h1 class="text-center">All Products</h1>

<!-- Filter selects -->
<form method="get">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="SearchTerm">Search:</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Lenovo ThinkPad X1, etc...">
        </div>

        <div class="form-group col-md-6">
            <div class="form-group">
                <label asp-for="Sorting">Sort by:</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Time Added</option>
                    <option value="1">Price</option>
                    <option value="2">Brand And Model</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Brand">Select brand:</label>
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="CategoryId">Select category:</label>
                <select asp-for="CategoryId" id="selectCategory" class="form-control">
                    <option selected value="0">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="ProductTypeId">Select type:</label>
                <select asp-for="ProductTypeId" id="selectType" class="form-control">
                    <option selected value="0">All</option>
                    @foreach (var productType in Model.ProductTypes)
                    {
                        <option value="@productType.Id">@productType.Name</option>
                    }
                </select>
                <span asp-validation-for="ProductTypeId" class="small text-danger"></span>
            </div>
        </div>
        <div class="row col-12">
            <div class="form-group col-2">
                <button class="btn btn-info" type="submit">Apply filters</button>
            </div>
            <a class="form-group col-2 ml-n5" asp-controller="Products" asp-action="All">
                <button class="btn btn-info" type="button">Clear filters</button>
            </a>
        </div>
    </div>
</form>

<!-- Products display -->
@if (!Model.Products.Any())
{
    <h2 class="text-center">No products found by the given criteria!</h2>
}

<div class="card-group">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Brand @product.Model - @product.Price (@product.CategoryName @product.ProductTypeName)">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title text-center">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                            @product.Brand
                            @if (product.Series != null)
                            {@product.Series}
                            @product.Model<hr />
                        </a>
                        <i class="priceBrackets">
                            [<i class="price">$@product.Price</i>]
                        </i>
                        <form method="post">
                            <div class="outOfStock">
                                @{
                                    if (Enum.GetName(product.Availability) == "OutOfStock")
                                    {
                                        @:(Out of stock)

                                        <a href="" class="btn btn-success btn-lg btn-block mt-2 mb-n3 disabled">
                                            <i class="fa fa-shopping-cart"></i> Add To Cart
                                        </a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-lg btn-block mt-2 mb-n3" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" asp-route-quantity="1">
                                            <i class="fa fa-shopping-cart"></i> Add To Cart
                                        </button>
                                    }
                                }
                            </div>
                        </form>
                    </h5>
                    @if (ViewBag.AllowProductEdit == true || User.IsAdmin())
                    {
                        var deleteModal = "deleteModal" + product.Id;

                        <hr class="mt-4">
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@deleteModal">Delete</button>

                        <!-- Confirm Delete Modal -->
                        <div id="@deleteModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header flex-column">
                                        <div class="icon-box">
                                            <i class="material-icons">&#xE5CD;</i>
                                        </div>
                                        <h4 class="modal-title w-100">Are you sure?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete this product? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <form asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">
                                            <input type="submit" class="btn btn-danger" value="Delete!">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<!-- Page switching -->
@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalProducts / AllProductsQueryModel.ProductsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Products"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-brand="@Model.Brand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"
           asp-route-category="@Model.CategoryId"
           asp-route-productType="@Model.ProductTypeId"><<</a>
    </div>

    @{var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Products.Any();}

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Products"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-brand="@Model.Brand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"
           asp-route-category="@Model.CategoryId"
           asp-route-productType="@Model.ProductTypeId">>></a>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#selectType').prop('disabled', true);

            $('#selectCategory').on('mouseover click change',
                function () {
                    var t = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: '@Url.Action("GetCascadeTypes", "Products")',
                        type: 'POST',
                        dataType: 'json',
                        data: { catId: $('#selectCategory').val() },
                        headers: {
                            "RequestVerificationToken": t
                        },
                        success: function(data) {
                            $('#selectType').prop('disabled', $('#selectCategory').val() == 0 ? true : false);
                            $('#selectType').html('').append('<option value="0">Choose...</option>');
                            $(data).each(function (index, item) {
                                $('#selectType').append(`<option value="${item.id}">${item.name}</option>`);
                            });
                        }
                    });
                }
            );
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}