@using HexiTech.Data.Enums
@model HexiTech.Services.Products.Models.ProductDetailsServiceModel

@{
    ViewData["Title"] = "Details";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/DetailsScript.js"></script>
<link href="/css/ProductDetails.css" rel="stylesheet" id="bootstrap-css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

@* TODO: Create validation for adding reviews. Add item quantity. *@

<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="@Model.ImageUrl" />
                        <p class="btn btn-block">Zoom</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="title">@Model.Brand @Model.Series @Model.Model</div>
                    <p class="price">$@Model.Price</p>

                    <div class="stock1">
                        @if (Enum.GetName(@Model.Availability) == "Available")
                        {
                            @:Available!
                        }
                    </div>
                    <div class="stock2">
                        @if (Enum.GetName(@Model.Availability) == "AtWarehouse")
                        {
                            @:In stock at warehouse. Longer delivery period.
                        }
                    </div>
                    <div class="stock3">
                        @if (Enum.GetName(@Model.Availability) == "OutOfStock")
                        {
                            @:Currently out of stock.
                        }
                    </div>

                    <form method="get" action="cart.html">
                        <div class="form-group">
                            <label for="colors">Color:</label>
                            <select class="custom-select" id="colors">
                                <option selected>Select</option>
                                <option value="1">Blue</option>
                                <option value="2">Red</option>
                                <option value="3">Green</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Quantity:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" id="quantity" name="quantity" min="1" max="100" value="1">
                                <div class="input-group-append">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <a asp-controller="Order" asp-action="Cart" asp-route-id="quantity" class="btn btn-success btn-lg btn-block text-uppercase">
                            <i class="fa fa-shopping-cart"></i> Add To Cart
                        </a>
                    </form>
                    <div class="product_rassurance">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br />Fast delivery</li>
                            <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br />Secure payment</li>
                            <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br />+xx 1 23 45 67 89</li>
                        </ul>
                    </div>
                    <div class="row text-center col-12">
                        <div class="reviews_product p-3 mt-3 ml-2 col-7">
                            <a href="#reviews">@Model.ProductReviews.Count review(s)</a> |
                            (<var hidden="">
                                @{var ratSum = 0.0M;
                                    foreach (var review in @Model.ProductReviews)
                                    {
                                        ratSum += (int)Enum.Parse(typeof(ReviewRatings), Enum.GetName(review.Rating));
                                    }
                                    decimal totalSum = ratSum / Model.ProductReviews.Count;}
                            </var>@totalSum.ToString("F1")/5)

                            @{for (int i = 0; i < Math.Floor(totalSum); i++)
                                {<i class="fa fa-star"></i>}

                                for (int i = 0; i < 5 - Math.Floor(totalSum); i++)
                                {<i class="fa fa-star-o"></i>}}
                        </div>
                        <div class="p-2 mt-3 col-4">
                            <a class="btn btn-outline-dark btn-lg ml-3 " href="#writeReview">Write a review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Description -->
    <div class="col-6">
        <div class="card border-light mb-3">
            <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
            <div class="card-body">
                <p class="card-text">
                    @Model.Description
                </p>
            </div>
        </div>
    </div>

    <!-- Specifications -->
    <div class="col-6">
        <div class="card border-light mb-3">
            <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Specifications</div>
            <div class="card-body">
                <p class="card-text">
                    @Model.Specifications
                </p>
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="col-12" id="reviews">
        <div class="card border-light mb-3">
            <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
            <div class="card-body">
                <div class="review">
                    @foreach (var review in Model.ProductReviews)
                    {
                        <p>
                            <span class="fa fa-calendar"></span>
                            @review.ReviewDate | @Enum.GetName(review.Rating) @switch (Enum.GetName(review.Rating))
                            {
                                case "Excellent":
                                    for (int i = 0; i < 5; i++)
                                    {<span class="fa fa-star"></span> }
                                    break;
                                case "Good":
                                    for (int i = 0; i < 4; i++)
                                    {<span class="fa fa-star"></span> }
                                    <span class="fa fa-star-o"></span>
                                    break;
                                case "Decent":
                                    for (int i = 0; i < 3; i++)
                                    {<span class="fa fa-star"></span> }
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    break;
                                case "Bad":
                                    for (int i = 0; i < 2; i++)
                                    {<span class="fa fa-star"></span> }
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    break;
                                case "Awful":
                                    for (int i = 0; i < 1; i++)
                                    {<span class="fa fa-star"></span> }
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    <span class="fa fa-star-o"></span>
                                    break;
                            } | by <span class="fa fa-user"></span> @review.Author
                        </p>

                        <p class="card-text">
                            @review.Content
                        </p>
                        <hr>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Write a Review -->
    <div class="col-12" id="writeReview">
        <form method="post">
            <button type="button" class="btn btn-outline-primary col-12" data-toggle="modal" data-target="#form"> Write a review for this product </button>
            <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="text-right cross" data-dismiss="modal"> <i class="fa fa-times mr-2"></i> </div>
                        <div class="card-body text-center">
                            <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
                            <div class="comment-box text-center">
                                <h4>Rate your experience with this product.</h4>
                                <div class="rating">
                                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                </div>
                                <div class="comment-area"> <textarea class="form-control" name="content" placeholder="Tell us what you think." rows="4"></textarea> </div>
                                <div class="author-name"> <input class="form-control-plaintext" name="author" placeholder="Your name."> </div>
                                <input hidden="" name="productId" value="@Model.Id">
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-success send px-5" asp-controller="Products" asp-action="Details">
                                        Post review<i class="fa fa-long-arrow-right ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal image -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">@Model.Brand @Model.Series @Model.Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="@Model.ImageUrl" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>